<div class="nav">
  <div>
    <div>
      <img src="white-pawn.png" style="width: 30px; height: 30px;">
      <img src="white-queen.png" style="width: 30px; height: 30px;">
      <img src="white-king.png" style="width: 30px; height: 30px;">
    </div>
    <div>
      <img src="white-rook.png" style="width: 30px; height: 30px;">
      <img src="white-bishop.png" style="width: 30px; height: 30px;">
      <img src="white-knight.png" style="width: 30px; height: 30px;">
    </div>
  </div>
  <div style="display: flex; justify-content: space-around; color: whitesmoke; flex-grow: 1;">
    <h2 routerLink="/home" style="cursor: pointer;">Home</h2>
    <h2 routerLink="/match-history" style="cursor: pointer;">Match History</h2>
    <h2 routerLink="/friends" style="cursor: pointer;">Friends</h2>
  </div>
  
  <div style="display: flex; flex-direction: column; align-items: center; color: whitesmoke;">
    <span>testtesttest123</span>
    <span>1000 pts</span>
    <img src="logout.svg" style="width: 30px; height: 30px; cursor: pointer;">
  </div>

  
</div>
<div>
  
</div>
<router-outlet></router-outlet>