.content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(62, 62, 74, 0.865);
}

.board {
  display: inline-grid;
  border: 1px solid black;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
}

.board img {
  width: 90%;
  height: 90%;
}

.board div {
  position: relative;
}