<div class="content">
  <div style="display: flex; flex-direction: column;">
    <button style="height: fit-content; padding: 15px; background-color: rgb(154, 205, 255); cursor: pointer; border: 1px solid rgb(154, 205, 255); font-size: medium;">
      Play Online
    </button>
    <div class="board">
      <div style="background-color: rgb(154, 205, 255);">
        <span style="position: fixed;">8</span>
        <img src="black-rook.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-knight.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-bishop.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-queen.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-king.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-bishop.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-knight.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-rook.png" width="100%" height="100%">
      </div>
    
      <!--Drugi red-->
      <div style="background-color: rgb(0, 101, 153);">
        <span style="position: fixed;">7</span>
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
    
      <!--treci red-->
      <div style="background-color: rgb(154, 205, 255);">
        <span style="position: fixed;">6</span>
      </div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
    
      <!--CETVRTI RED-->
      <div style="background-color: rgb(0, 101, 153);">
        <span style="position: fixed;">5</span>
      </div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
    
      <div style="background-color: rgb(154, 205, 255);">
        <span style="position: fixed;">4</span>
      </div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
    
    
      <div style="background-color: rgb(0, 101, 153);">
        <span style="position: fixed;">3</span>
      </div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
    
      <div style="background-color: rgb(154, 205, 255);">
        <span style="position: fixed;">2</span>
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
    
      <div style="position: relative;background-color: rgb(0, 101, 153);">
        <span style="position: fixed">1</span>
        <span style="position: absolute; right: 0px; bottom: 0px;">a</span>
        <img src="white-rook.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(154, 205, 255);">
        <span style="position: absolute; right: 0px; bottom: 0px;">b</span>
        <img src="white-knight.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(0, 101, 153);">
        <span style="position: absolute; right: 0px; bottom: 0px;">c</span>
        <img src="white-bishop.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(154, 205, 255);">
        <span style="position: absolute; right: 0px; bottom: 0px;">d</span>
        <img src="white-queen.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(0, 101, 153);">
        <span style="position: absolute; right: 0px; bottom: 0px;">e</span>
        <img src="white-king.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(154, 205, 255);">
        <span style="position: absolute; right: 0px; bottom: 0px;">f</span>
        <img src="white-bishop.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(0, 101, 153);">
        <span style="position: absolute; right: 0px; bottom: 0px;">g</span>
        <img src="white-knight.png" width="100%" height="100%">
      </div>
      <div style="position: relative; background-color: rgb(154, 205, 255);">
        <span style="position: absolute; right: 0px; bottom: 0px;">h</span>
        <img src="white-rook.png" width="100%" height="100%">
      </div>
    </div>
  </div>

  <div style="display: flex; flex-direction: column;">
    <button style="height: fit-content; padding: 15px; background-color: rgb(154, 205, 255); cursor: pointer; border: 1px solid rgb(154, 205, 255); font-size: medium;">
      Play A Friend
    </button>
    <div class="board">
      <div style="background-color: rgb(154, 205, 255);">
        <span style="position: fixed;">8</span>
        <img src="black-rook.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-knight.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-bishop.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-queen.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-king.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-bishop.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-knight.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-rook.png" width="100%" height="100%">
      </div>
    
      <!--Drugi red-->
      <div style="background-color: rgb(0, 101, 153);">
        <span style="position: fixed;">7</span>
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="black-pawn.png" width="100%" height="100%">
      </div>
    
      <!--treci red-->
      <div style="background-color: rgb(154, 205, 255);">
        <span style="position: fixed;">6</span>
      </div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
    
      <!--CETVRTI RED-->
      <div style="background-color: rgb(0, 101, 153);">
        <span style="position: fixed;">5</span>
      </div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
    
      <div style="background-color: rgb(154, 205, 255);">
        <span style="position: fixed;">4</span>
      </div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
    
    
      <div style="background-color: rgb(0, 101, 153);">
        <span style="position: fixed;">3</span>
      </div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
      <div style="background-color: rgb(0, 101, 153);"></div>
      <div style="background-color: rgb(154, 205, 255);"></div>
    
      <div style="background-color: rgb(154, 205, 255);">
        <span style="position: fixed;">2</span>
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(154, 205, 255);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
      <div style="background-color: rgb(0, 101, 153);">
        <img src="white-pawn.png" width="100%" height="100%">
      </div>
    
      <div style="position: relative;background-color: rgb(0, 101, 153);">
        <span style="position: fixed">1</span>
        <span style="position: absolute; right: 0px; bottom: 0px;">a</span>
        <img src="white-rook.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(154, 205, 255);">
        <span style="position: absolute; right: 0px; bottom: 0px;">b</span>
        <img src="white-knight.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(0, 101, 153);">
        <span style="position: absolute; right: 0px; bottom: 0px;">c</span>
        <img src="white-bishop.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(154, 205, 255);">
        <span style="position: absolute; right: 0px; bottom: 0px;">d</span>
        <img src="white-queen.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(0, 101, 153);">
        <span style="position: absolute; right: 0px; bottom: 0px;">e</span>
        <img src="white-king.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(154, 205, 255);">
        <span style="position: absolute; right: 0px; bottom: 0px;">f</span>
        <img src="white-bishop.png" width="100%" height="100%">
      </div>
      <div style="position: relative;background-color: rgb(0, 101, 153);">
        <span style="position: absolute; right: 0px; bottom: 0px;">g</span>
        <img src="white-knight.png" width="100%" height="100%">
      </div>
      <div style="position: relative; background-color: rgb(154, 205, 255);">
        <span style="position: absolute; right: 0px; bottom: 0px;">h</span>
        <img src="white-rook.png" width="100%" height="100%">
      </div>
    </div>
  </div>
</div>
