<div style="display: flex; margin: 15px; gap: 60px;">
  <div>
    <img src="match-history-icon.svg" style="width: 60px; height: 60px;">
    <table>
      <tr>
        <th>Match Type</th>
        <th>Players</th>
        <th>Result</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>Friend</td>
        <td>Blabla</td>
        <td>ok</td>
        <td>10.12.2025.</td>
      </tr>
    </table>
  </div>
  <div>
    <h2>Match History</h2>
    <label>Match Type</label><br>
    <select></select><br>
    <label>Match Result</label><br>
    <select>
      <option>Won</option>
      <option>Lost</option>
      <option>Draw</option>
    </select><br>
    <input type="text" placeholder="Opponent">
  </div>
</div>